<div *ngIf="!addMode" class="grid100">
    <button class="btn btn-primary open-btn" (click)="addBestPractice()">
        Add New Best Practice
    </button>
</div>

<div *ngIf="bestPractices.length == 0" class="border centered">
    <h3 class="spaced">
        The {{objective}} objective doesn't have any best practices! 
    </h3>
    <h3 class="spaced">
        <a (click)="addBestPractice()">Add some best practices</a> to see them here.
    </h3>
</div>

<div *ngIf="addMode">
    <br>
    <div class="border centered">
        <app-best-practice-form [objective]="objective" [department]="department" [step]="step"></app-best-practice-form>
    </div>
</div>

<div *ngIf="bestPractices.length > 0" class="middle size-holder">
    <h2 class="centered">Best Practices</h2>
    <br>
    <div class="grid50 ">
        <div *ngFor="let bestPractice of bestPractices">
            <app-best-practice-single [inStep]="true" [bestPractice]="bestPractice"></app-best-practice-single>
        </div>
    </div>
</div>
