<div class="inner-border">
    <div class="grid100">
        <button class="btn btn-primary" (click)="addObjective()">
            Add New Objective
        </button>
    </div>
    <div *ngIf="objectives.length == 0" class="centered">
        <h3 class="spaced">
            The {{department}} department doesn't have any objectives! 
        </h3>
        <h3 class="spaced">
            <a (click)="addObjective()">Add some objectives</a> to see them here.
        </h3>
    </div>
    <div *ngIf="addMode" class="spaced">
        <div class="centered">
            <app-objective-form [department]="department"></app-objective-form>
        </div>
    </div>
</div>
<div *ngIf="objectives.length > 0" class="middle">
    <h2>Objectives</h2>
    <br>
    <div class="grid50">
        <div *ngFor="let objective of objectives">
            <app-objective-single [objective]="objective"></app-objective-single>
        </div>
    </div>
</div>
