<div *ngIf="!editMode" class="border centered">
    <h3>{{step.stepNumber}}: {{step.name}}</h3>
    <h4>Goal: {{step.goal}}</h4>
    <div *ngIf="!editMode" class="grid50">
        <button class="btn btn-primary" (click)="editStep()">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</div>
<div *ngIf="inObjective && !editMode" class="grid100">
    <br>
    <button 
        class="btn btn-success open-btn" 
        routerLink="/step/{{step.deptName}}/{{step.objectiveName}}/{{step.stepNumber}}"
        >
        View Details
    </button>
    <br>
</div>
<div *ngIf="editMode" class="spaced">
    <div class="border centered">
        <app-step-form [stepDefault]="step"></app-step-form>
    </div>
</div>