<div *ngIf="employeeId"> 
    <div class="grid25 size-holder middle">
        <div class="inner-border-left-header"><h5>Time</h5></div>
        <div class="inner-border-left-header"><h5>Department</h5></div>
        <div class="inner-border-left-header"><h5>Objective</h5></div>
        <div class="inner-border-right-header"></div>
    </div>
    <div *ngFor="let task of scheduledTasks" class="size-holder middle">
        <app-schedule-single [schedule]="task" [oneEmployee]="true"></app-schedule-single>
    </div>
</div>

<div *ngIf="!employeeId"> 
    <div class="grid20 size-holder middle">
        <div class="inner-border-left-header"><h5>Employee</h5></div>
        <div class="inner-border-left-header"><h5>Time</h5></div>
        <div class="inner-border-left-header"><h5>Department</h5></div>
        <div class="inner-border-left-header"><h5>Objective</h5></div>
        <div class="inner-border-right-header"></div>
    </div>
    <div *ngFor="let task of scheduledTasks" class="size-holder middle">
        <app-schedule-single [schedule]="task" [oneEmployee]="false"></app-schedule-single>
    </div>
</div>