<div *ngIf="!editMode" class="border centered">
    <h3>{{objective.objectiveName}}</h3>
    <h4>Goal: {{objective.goal}}</h4>
    <h4>Time: {{objective.time}} hours</h4>
    <div *ngIf="!editMode" class="grid50">
        <button class="btn btn-primary" (click)="editObjective()">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</div>

<div *ngIf="inDepartment && !editMode" class="grid100">
    <br>
    <button 
        class="btn btn-success open-btn" 
        routerLink="/objective/{{objective.deptName}}/{{objective.objectiveName}}"
        >
        View Details
    </button>
    <br>
</div>

<div *ngIf="editMode" class="spaced">
    <div class="border centered">
        <app-objective-form [objectiveDefault]="objective"></app-objective-form>
    </div>
</div>