<div *ngIf="!editMode" class="border centered">
    <h3>{{employee.employeeNumber}}: {{employee.name}}</h3>
    <h4>Title: {{employee.title}}</h4>
    <h4 *ngIf="employee.deptName">Department: {{employee.deptName}}</h4>
    <div *ngIf="!editMode" class="grid50">
        <button class="btn btn-primary" (click)="editEmployee()">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</div>
<div *ngIf="inFull && !editMode" class="grid100">
    <br>
    <button 
        class="btn btn-success open-btn" 
        routerLink="/employee/{{employee.employeeName}}"
        >
        View Details
    </button>
    <br>
</div>
<div *ngIf="editMode" class="spaced">
    <div class="border centered">
        <app-employee-form [employeeDefault]="employee"></app-employee-form>
    </div>
</div>