<div *ngIf="!oneEmployee" class="grid-all-employees">
    <div class="inner-border-left"><h5>{{schedule.employeeId}} - {{schedule.employeeName}}</h5></div>
    <div class="inner-border-left"><h5>{{time}}</h5></div>
    <div class="inner-border-left"><h5>{{schedule.deptName}}</h5></div>
    <div class="inner-border-left"><h5>{{schedule.objectiveName}}</h5></div>
</div>

<div *ngIf="oneEmployee" class="grid-one-employee">
    <div class="inner-border-left"><h5>{{time}}</h5></div>
    <div class="inner-border-left"><h5>{{schedule.deptName}}</h5></div>
    <div class="inner-border-left"><h5>{{schedule.objectiveName}}</h5></div>
</div>