.navbar {
    background: rgb(70, 181, 255);
}

li{
    text-align: center;
    margin: 10px 1px 5px 1px;
}

img{
    margin: 2px 20px 2px 20px;
}

.nav a{
    color: rgb(85, 0, 195);
    font-weight: 600;
}