/* You can add global styles to this file, and also import other style files */
.btn{
    border-radius: 0%;
}

.centered{
    text-align: center;
}

.middle{
    margin: auto;
}

.input-width{
    width: 80%;
    margin: auto;
}

.border{
    border-style: solid;
    border-color: rgb(0, 21, 44);
    background-color: rgb(214, 206, 255);
    margin: auto;
    width: 80vw;
    max-width: 800px;
}

.inner-border{
    border-style: solid;
    border-color: rgb(0, 21, 44);
    background-color: rgb(214, 206, 255);
    margin: auto;
}

.danger{
    background-color: rgb(165, 2, 2);
    color: white;
    margin: auto;
    width: 100%;
    max-width: 800px;
    line-height: 200%;
}

.flex { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid50 { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.sized30{
    width: 30%;
    max-width: 400px;
    margin: 17px 1.5% 17px 1.5%;
}

.spaced{
    margin: 25px 0px 35px 0px;
}

.top{
    margin: 0px 0px 35px 45px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

a{
    color: rgb(2, 2, 151);
}

h1,h2,h3{
    line-height: 120%;
    font-weight: bold;
}



@media only screen and (max-width: 768px) {
    .sized30{
        width: 85%;
        max-width: 768px;
        margin: 17px 7.5% 17px 7.5%;
    }
}