<div *ngIf="!auth.isAuthenticated" class="centered border">
    <h2 class="spaced">Welcome to Process Manager V 0.1.0</h2>
    <h4 class="spaced">
        To get started <a routerLink="/register">sign up</a> for a new account
    </h4>
    <h4 class="spaced">
        If you already have an account, you can <a routerLink='/login'>log in</a>
    </h4>
</div>

<div *ngIf="auth.isAuthenticated" class="centered border grid33">
    <h4>
        <br>
        To view, update or add scheduled tasks:
    </h4>
    <h4>
        <br>
        To view, update or add employees:
    </h4>
    <h4>
        <br>
        To view, update or add departments, and objectives:
    </h4>
    <button 
        class="btn btn-primary input-width" 
        routerLink="schedule">
        Schedule
    </button>
    <button 
        class="btn btn-primary input-width" 
        routerLink="employee">
        Employees
    </button>
    <button 
        class="btn btn-primary input-width" 
        routerLink="department">
        Processes
    </button>
    <br>
</div>

<div *ngIf="auth.isAuthenticated">
    <br>
    <app-schedule-day [day]="day" [month]="month" [year]="year"></app-schedule-day>
</div>